* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: titulo-rubik;
  src: url(../font/Rubik-Medium.ttf);
}

@font-face {
  font-family: texto-poppins;
  src: url(../font/Poppins-Regular.ttf);
}

.navbar {
  box-shadow: 1px 1px 4px black;
  z-index: 10;
}

.navbar .lupa-nav {
  width: 25px;
  height: 25px;
}

.navbar .lupa-nav .button-search {
  border: none;
  background-color: transparent;
  padding: 0;
  padding-left: 15px !important;
  font-size: 25px;
}

.navbar .lupa-nav .button-search .lupa {
  position: relative;
}

.navbar .burger-lupa {
  width: 110px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .burger-lupa .button-search-full {
  border: none;
  background-color: transparent;
  width: 40px;
  font-size: 25px;
}

#ctn-icon-search i {
  cursor: pointer;
  transition: all 300ms;
}

#ctn-icon-search i:hover {
  color: #46a2fd;
}

#ctn-bars-search {
  /*position: fixed;*/
  top: -10px;
  width: 100%;
  background: #fff;
  padding: 40px;
  padding-bottom: 0px;
  z-index: 9;
  transition: all 600ms;
}

#ctn-bars-search #inputSearch {
  display: block;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  outline: 0;
}

#box-search {
  /*position: fixed;*/
  top: 165px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-left: 0px;
  padding-top: 5px;
  background: #fff;
  z-index: 8;
  overflow: hidden;
  display: none;
}

#box-search li a {
  display: block;
  width: 100%;
  padding-left: 40px !important;
  padding-right: 40px !important;
  color: #777777;
  padding: 12px 20px;
}

#box-search li a i {
  margin-right: 10px;
  color: #777777;
}

#box-search li a:hover {
  background-color: #f3f3f3;
}

#cover-ctn-search {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 7;
  display: none;
}

/* ----------------- CARRUSEL ----------------- */
.swiper-container {
  width: 100%;
  height: 605px;
}

.swiper-container .swiper-wrapper .swiper-slide {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.swiper-slide h2 {
  font-family: 'Montserrat';
  font-weight: 900;
  color: rgb(29, 147, 206);
  text-shadow: 2px 2px 4px rgb(0, 132, 54);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  border-radius: 8px;
  letter-spacing: 3px;
  font-size: 72px;
  padding: 1.25%;
}

.swiper-slide p {
  padding: 1%;
  font-size: 32px;
  border-radius: 8px;
  font-weight: bold;
  /*background: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35));*/
  background: linear-gradient(rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0.5));
  color: rgba(255, 255, 255, 0.817);
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 0px 0px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.swiper-button-prev:hover {
  /*background-color: white;*/
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  padding: 2% 0% 2% 0%;
}

.swiper-button-next:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  border-radius: 0px 15px 15px 0px;
  padding: 2% 0% 2% 0%;
}

/* ----------------- COLUMNA CENTRAL ----------------- */
.center-col {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 10.5%;
  padding-right: 10.5%;
  padding-top: 5%;
  padding-bottom: 5%;
  gap: 2%;
}

.center-col div {
  height: 200px;
  width: 250px;
  background-position: center;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  flex-grow: 1;
  background-size: cover;
}

.center-col div:hover {
  transform: scale(1.12);
  z-index: 10;
}

.center-col div h3 {
  position: absolute;
  bottom: -4%;
  color: rgba(0, 0, 0, 0.71);
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  padding-top: 2%;
  padding-bottom: 1.5%;
}

/* ----------------- PRESENTACION ----------------- */
.presentacion {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  gap: 1%;
}

.presentacion img {
  margin-top: 2%;
}

.presentacion h2 {
  padding-top: 2%;
  font-size: 46px;
  font-weight: normal;
  /*color: rgb(29,147,206);
  text-shadow: 2px 2px 4px rgb(0,132,54);*/
}


.presentacion p {
  width: 65%;
  text-align: center;
}

.presentacion a {
  text-decoration: none;
  padding: 1%;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  transition: transform 0.3s ease;
}

.presentacion a:hover {
  background-color: grey;
  color: white;
  transform: scale(1.05);
}

/* ----------------- MAPA ----------------- */

.map-container {
  padding-left: 12%;
  padding-bottom: 3%;
  background-color: aliceblue;
}

.map-container h2 {
  padding: 1.5% 0%;
  letter-spacing: 5px;
  text-align: center;
}

.map-content {
  display: flex;
  align-items: center;
  gap: 5%;
}

.sede-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 580px;
}

#sede {
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 1%;
}

#sede h4 {
  font-size: 24px;
}

#sede p {
  font-size: 15px;
}

#map {
  width: 550px;
  height: 580px;
}

.custom-label-icon {
  /*border: 1px solid black;*/
  padding: 5px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.map-button {
  border-radius: 4px;
  position: absolute;
  top: 14%;
  left: 1.9%;
  z-index: 999;
  width: 32.5px;
  height: 32.5px;
  border: 2px solid rgb(136, 169, 178);
  background-color: white;
}

/* ----------------- PERMISOS ----------------- */

.permissions-carousel {
  position: relative;
  text-align: center;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 5px);
  line-height: 30px;
  text-align: center;
  background: none;
  color: black;
  opacity: 20%;
}

.carousel-prev:hover,
.carousel-next:hover {
  opacity: 100%;
}

.carousel-prev {
  left: 30px;
  z-index: 1000;
}

.carousel-next {
  right: 30px;
  z-index: 1000;
}

.permissions-carousel .permission-list h4 {
  padding: 2% 0 2% 0;
}

.permissions-carousel .permission-list .permission img {
  height: 200px;
}


/* ----------------- FOOTER ----------------- */


footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #00B9BC;
  padding-top: 50px;
}

footer .footer-wrapper {
  text-align: center;
  width: 85%;
}

footer a{
  text-decoration: none;
  color: #fff;
}

footer .afip-qr{
  padding-top: 40px;
}

footer .sector-logo-footer{
  padding-top: 10px;
}

footer .frase-top{
  padding-bottom: 10px;
}

footer .frase-bottom{
  padding-top: 15px;
}




/* RESPONSIVE */


@media (min-width: 0px) {
  .lupa-nav {
    display: none;
  }
}

@media (min-width: 992px) {
  .lupa-nav {
    display: block;
  }
}

@media (min-width: 1260px) {
  .lupa-nav {
    display: block;
  }

  .container-fluid {
    padding-right: 25px !important;
  }

  #ctn-icon-search i {
    cursor: pointer;
    transition: all 300ms;
  }

  #ctn-icon-search i:hover {
    color: #46a2fd;
  }

  #ctn-bars-search {
    position: fixed;
    top: -10px;
    width: 100%;
    background: #fff;
    padding: 40px;
    padding-bottom: 0px;
    z-index: 9;
    transition: all 600ms;
  }

  #ctn-bars-search #inputSearch {
    width: 1200px;
  }

  #box-search {
    width: 1200px;
    border-radius: 8px;
  }

  #box-search li a {
    width: 1200px;
    padding: 12px 20px;
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  #box-search li a i {
    margin-right: 10px;
    color: #777777;
  }

  #box-search li a:hover {
    background-color: #f3f3f3;
  }

  /* Footer en Monitor */

  .row-footer{
    justify-content: center;
  }
}









@media (max-width: 768px) {

  .swiper-container .swiper-wrapper .swiper-slide {
    height: 500px;
    background-position: center;
  }

  .swiper-container .swiper-wrapper .swiper-slide h2 {
    font-size: 46px;
  }

  .swiper-container .swiper-wrapper .swiper-slide p {
    font-size: 24px;
  }

  .swiper-container {
    height: 500px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }

  .center-col {
    padding-left: 2%;
    padding-right: 2%;
  }

  .presentacion {
    height: 420px;
  }

  .map-container .map-content .map-button {
    top: 20%;
    left: 3.28%;
  }

  .sede-content {
    height: 450px;
  }

  .sede-content #sede {
    width: 82%;
  }

  .map-container .map-content #map {
    height: 415px;
    width: 350px;
  }

  .map-container .map-content .sede-content img {
    height: 200px;
    width: 300px;
  }

}


@media (max-width: 480px) {

  .swiper-container {
    height: 300px;
  }


  .swiper-container .swiper-wrapper .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
  }

  

  .center-col div {
    margin-left: 1px;
    background-position: center;
  }

  .center-col div p {
    border-radius: 0px;
    font-size: 11px;
  }

  .presentacion h2 {
    font-size: 24px;
  }

  .presentacion h4 {
    font-size: 18px;
  }

  .presentacion p {
    font-size: 14px;
  }

  .permissions-container .img-final {
    height: 35px;
    width: 80%;
  }

  .map-container .map-content .map-button {
    top: 20%;
    left: 3.28%;
  }

  .sede-content {
    display: none;
  }

  .map-container h2 {
    padding: 1% 5% 1% 0;
  }

  .map-container .map-content #map {
    height: 415px;
    width: 350px;
  }

}
