// SASS IMPORT
@import 'reseteo';
@import 'fuentes';
@import 'variable';
@import 'mixins';


// NAVBAR GENERAL

.navbar{
box-shadow: 1px 1px 4px black;
z-index: 10;

    .nav-item{
        display: flex;
        align-items: center;
    }

    .lupa-nav {

        .button-search{
            border: none;
            background-color: transparent;
            font-size: 25px;
        }
    }

    .burger-lupa{
        width: 110px;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .button-search-full{
            border: none;
            background-color: transparent;
            width: 40px;
            font-size: 25px;
        }
    }

}



// BUSCADOR DE COTENIDO

#ctn-icon-search i{
    cursor: pointer;
    transition: all 300ms;
}

#ctn-icon-search i:hover{
    color: #46a2fd;
}

#ctn-bars-search{
    position: fixed;
    top: -10px;
    width: 100%;
    background: #fff;
    padding: 40px;
    padding-bottom: 0px;
    z-index: 9;
    transition: all 600ms;

        #inputSearch{
            display: block;
            width: 1200px;
            margin: auto;
            margin-bottom: 10px;
            padding: 10px;
            font-size: 18px;
            outline: 0;
        }
}

#box-search{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    padding-left: 0px;
    padding-top: 5px;
    background: #fff;
    z-index: 8;
    overflow: hidden;
    display: none;

    li{
        a{
            display: block;
            width: 1200px;
            color: #777777;
            padding: 12px 20px;

            i{
                margin-right: 10px;
                color: #777777;
            }
        }

        a:hover{
           background-color: #f3f3f3;
        }
    }
}

#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
    display: none;
}








//FOOTER

footer {
    display: flex;
    justify-content: center;
    
    .footer-wrapper{
        text-align: center;
        width: 80%;
    }
    
}










@import 'mediaquery';